
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    transition: .2s linear;
}
html{
    font-size: x-large;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
header > .logo{
    margin-left: 150px;
    color: black;
}
header > .logo > span {
    font-size: 1rem;
    color: rgb(247, 6, 219); 
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100vw;
    height: 7vh;
}
header > .navbar > a{
    padding: 0 15px;
    color: black;
}
header > .navbar > a:hover{
    color: rgb(247, 6, 219);
}
header > .icon{
    margin-right: 150px;
}
header > .icon > a{
    padding: 0 15px;
    color: black;
}
header > .icon > a:hover{
    color: rgb(247, 6, 219);
}
header > #toggler {
    display: none;
}
header > .fa-bars{
    color: black;
    font-size: x-large;
    margin-left: 150px;
    cursor: pointer;
    display: none;
}
header > .fa-bars:hover{
    color: rgb(247, 6, 219);
}
.home {
    display: flex;
    align-items: center;
    padding: 7vh 9%;
    background: url("/HTML-CSS-JS/Flower-Shop-Responsive/Picture/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.content > h1{
    font-size: 80px;
}
.content > h2{
    font-size: xx-large;
    color: rgb(255, 0, 225);
}
.content > p{
    margin-top: 10px;
}

/* about section */

.heading{
    text-align: center;
    font-size: xx-large;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    margin-top: 1rem;
}
.heading > span {
    color: rgb(255, 0, 225);
}
#About > .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap; 
    padding: 1rem 5rem;
    padding-bottom: 3rem;
}

#About > .row > .video-container {
    flex: 1 1 30rem; 
    position: relative;
}

#About > .row > .video-container > video {
    width: 100%;
    height: 100%;
    border: 1rem solid white;
    border-radius: .5rem;
    box-shadow: 0 .5rem .5rem gray;
    object-fit: cover;
}

#About > .row > .video-container > h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    mix-blend-mode: screen;
    background-color: white;
}

#About > .row > .content {
    flex: 1 1 30rem; 
    padding: 0 2rem;
}

#About > .row > .content > h3 {
    font-size: 3rem;
}
#About > .row > .content > p {
    font-size: 1rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    background-color: whitesmoke;
    padding: 1rem;
}
.icon-container > .icons {
    background-color: white;
    display: flex;
    align-items: center;
    border: 5px solid gray;
    padding: 1rem;
    flex:1 1 15rem;
} 
.icon-container > .icons > img {
    height: 5rem;
}
.icon-container > .icons > .info {
    padding-left: 1rem;
}
.icon-container > .icons > .info > h3 {
    font-size: 1rem;
}
.icon-container > .icons > .info > span {
    font-size: large;
    margin-top: 2rem;
}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    padding: 0 4rem;
}
.products .box-container .box {
    flex: 1 1 20rem;
    position: relative;
    box-shadow: 0 .5rem .5rem gray;
    border: 3px solid gray;
    border-radius: .5rem;
}
.products .box-container .box .discount {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 1rem;
    padding: .7rem 1rem;
    z-index: inherit;
    color: rgb(255, 0, 225);
}
.products .box-container .box .img {
    position: relative;
    text-align: center;
    padding-top: 4rem;
    overflow: hidden;
}
.products .box-container .box .img img {
    height: 20rem;
}
.products .box-container .box:hover .img img {
    transform: scale(1.05);
}
.products .box-container .box .img .icons {
    display: flex;
    bottom: -7rem;
    left: 0;
    right: 0;
    position: absolute;
}
.products .box-container .box:hover .img .icons{
    bottom: 0;
}
.products .box-container .box .img .icons a {
    font-size: 1rem;
    height: 5rem;
    line-height: 5rem;
    width: 50%;
    background-color: rgb(255, 0, 225);
    color: white;
}
.products .box-container .box .img .icons a:hover{
    background-color: rgb(245, 149, 234);
}
.products .box-container .box .img .icons .fa-cart-shopping {
    border-left: .1rem solid white;
    border-right: .1rem solid white ;
    width: 100%;
}
.products .box-container .box .contant {
    text-align: center;
    padding: 1rem;
}
.products .box-container .box .contant h3 {
    font-size: 1.5rem;
}
.products .box-container .box .contant .price {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(255, 0, 225);
}
.products .box-container .box .contant .price span {
    font-size: 1rem;
    font-weight: lighter;
    color: black;
    text-decoration: line-through;
}
.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 4rem;
    margin-top: 2rem;
    background-color: whitesmoke;
}
.review .box-container .box {
    flex: 1 1 15rem ;
    position: relative;
    box-shadow: 0 .2rem .2rem gray;
    border: 2px solid gray;
    border-radius: .5rem;
    padding: 1rem ;
}
.review .box-container .box .star {
    color: rgb(255, 0, 225);
    font-size: 1rem;
}
.review .box-container .box p {
    line-height: 1rem;
    font-size: .7rem;
    padding: 1rem 0;
    text-align: center;
}
.review .box-container .box .user {
    display: flex;
    align-items: center;
}
.review .box-container .box .user img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 50%;
    margin:0 .5rem;
}
.review .box-container .box .user-info h3 {
    font-size: 1rem;
    color: dimgrey;
}
.review .box-container .box .user-info span  {
    font-size: .5rem;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    text-align: center;
    padding: 0 6rem;
    padding-top: 2rem;

}
.contact .row form{
    flex: 1 1 30rem;
    padding: 1rem 2rem;
    box-shadow: 0 .2rem .2rem gray;
    border: 0.1rem solid gray;
    border-radius: .5rem;
    height: 30%;
}
.contact .row .img{
    flex: 1 1 20rem;
}
.contact .row .img img{
    width: 100%;
}
.contact .row form .box {
    border: 1px solid gray;
    border-radius: .3rem;
    padding: .5rem;
    font-size: .5rem;
    margin: .3rem 0;
    text-transform: none;
    width: 90%;
}
.contact .row form .box:focus {
    color: rgb(255, 0, 225);
}
.contact .row form textarea {
    height: 15rem;
    resize: none;
}
.contact .row form .btn {
    background-color: white;
    border: 0.1rem solid black;
    padding: .4rem;
    border-radius: .3rem;
    margin-top: .5rem;
}
.footer .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 4rem;
}
.footer .container .box {
    flex: 1 1 15rem;
}
.footer .container .box h3 {
    font-size: 1rem;
    padding: .5rem 0;
}
.footer .container .box a{
    display: block;
    font-size: .7rem;
    padding: .2rem;
}
.footer .container .box a:hover{
    color: rgb(255, 0, 225);
    text-decoration: underline;
}




























@media (max-width:1300px) {
    html{
        font-size: large; 
    }
    header > .icon{
        margin-right: 130px;
    }
}
@media (max-width:1030px) {
    html{
        font-size: medium; 
    }
    header > .icon{
        margin-right: 100px;
    }
}
@media (max-width:940px) {
    html{
        font-size: small; 
    }
    header > .icon{
        margin-right: 70px;
    }
    header > .logo{
        margin-left: 70px;
    }
}
@media (max-width:880px) {
    header > .icon{
        margin-right: 50px;
    }
    header > .logo{
        margin-left: 50px;
    }
}
@media (max-width:818px) {
    header > .fa-bars{
        display: block;
    }
    header > .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgb(205, 199, 199);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header > .navbar > a{
        display: block;
        background: white;
        padding: 10px 0;
        padding-left: 10px;
        margin: 10px; 
    }
    header > .icon{
        font-size: x-large;
        margin-right: 70px;
    }
    header > .fa-bars {
        margin-left: 70px;
    }
}
@media (max-width:570px) {
    header > .icon{
        margin-right: 30px;
    }
    header > .fa-bars {
        margin-left: 50px;
    }
    header > .logo{
        margin-left: 50px;
    }
    .heading {
        font-size: x-large;
    }
}
